# web url to your redmine instance
siteurl: https://www.example.com
# Your api key located under My Account
apikey: fromyouraccount
# The id of the project that will contain job trackers
jobschedulerproject: scheduler-project
# The directory that all Issue_ID directories will be created in
# Each job is run within it's own issue id directory in here
output_directory: /tmp
# Here you define all of your jobs
# Each defined job needs to have a tracker in Redmine
job_defs:
    # Here you are defining a job that runs echos foo\nbar
    # output from stdout will be put into the issue directory/output.stdout
    # {ISSUEDIR} will be replaced with the path to the issue_id directory inside
    # of output_directory
    # After the job sucessfully completes, output.stdout will be uploaded to the
    # issue
    example:
        cli: "echo -e \"foo\nbar\""
        stdout: "{ISSUEDIR}/output.stdout"
        uploads:
            - "{ISSUEDIR}/output.stdout"
